.Todo {

    &-Input, &-Input {
        outline: none;
        border: none;
        margin-left: 5px;
        color: black;

        &_complete {
            text-decoration: line-through;
            color: gray;
        }

        &:disabled {
            background: none;
        }
    }
}
