body, html, #root {
    width: 100%;
    height: 100%;
    margin: 0;
}

#root {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Container {
    max-width: 300px;
    padding: 0 25px;
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    animation: opacity 1s;
}

.Organaizer {

}

.Organaizer-Container {
    max-width: 1200px;
    margin: 0 auto;
}

.StartButton {
    margin-top: 25px;
}

.Input {
    width: 100%;
    margin-bottom: 15px;
}

.FormWrapper {
    margin-top: 50px;
}

.Slider {
    width: 100%;
    margin: 0 auto;
}

.SliderWrapper {
    margin-top: 25px;
    width: 240px;
}

.ToggleSoundButton {
    margin-top: 10px;
}

@keyframes opacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}